<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjf.myBatis.mapper.UserMapper">
<!--    User selectUserById(@Param("userId") int userId);-->
    <select id="selectUserById" resultType="User">
        SELECT * FROM school.user WHERE userid=#{userId};
    </select>
<!--    int initUser(@Param("userid")int userid,@Param("username")String username,@Param("password")String password,@Param("create_time")String time,@Param("userQQmail")String userQQmail);-->
    <insert id="initUser">
        INSERT INTO school.user(
                school.user.userid,
                school.user.username,
                school.user.password,
                school.user.del_flg,
                school.user.remark,
                school.user.create_by,
                school.user.create_time,
                school.user.update_by,
                school.user.update_time,
                school.user.userQQmail)
        VALUES(
                #{userid},
                #{username},
                #{password},
                0,
                'remark',
                #{username},
                #{create_time},
                #{username},
                #{create_time},
                #{userQQmail}
              )
    </insert>
</mapper>
