<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.tjf.myBatis.mapper.MuseumsMapper">
<!--    List<Museums> selectMuseumsByUsername(String username)-->
    <select id="selectMuseumsByUsername" resultType="Museums">
        SELECT * FROM school.museums WHERE username=#{username};
    </select>
<!--    List<Museums> searchMuseums(String search)-->
    <select id="searchMuseums" resultType="Museums">
        SELECT * FROM school.museums WHERE username LIKE '%${search}%' OR museum_name LIKE '%${search}%' OR update_by LIKE '%${search}%';
    </select>
</mapper>
